extends base
block content
  section.content
    .container-fluid
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
           button.btn.openstoreinit.btn-success Add Store
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          .card
            .body
              .table-responsive
                table.table.table-hover.js-basic-example.contact_list
                  thead
                    tr
                      th Store Id
                      th Store Name
                      th Store Email
                      th Store Phone
                      th Store Address
                      th Store Country
                      th Store Region
                      th Action
                  tbody
                    -let i=1
                    each item in data
                      tr
                        td= i++
                        td= item.name
                        td= item.email
                        td= item.phone
                        td= item.address
                        td= item.country
                        td= item.region
                        td.d-flex
                          button.btn.tblEdosBtnpopa.edit.colorGreenn(data-edi=`${item._id}`)
                            i.material-icons mode_edit
                          button.btn.tblActnBtnlala.del.text-danger(type='button',data-del=`${item._id}`)
                            i.material-icons delete

      #myDelModal.modal(style='padding-top: 200px')
        .modal-dialog
          .modal-content
            // Modal Header
            .modal-header
              h2.modal-title Confirm Delete
              button.close(type='button', data-dismiss='modal')
                | &times;
            // Modal body
            .modal-body
              p(style='font-size: 24px')
                | Are you sure you want to delete this store?
            // Modal footer
            .modal-footer
              button.btn.onebutapoa.btn-danger.pt-3.storedels.yes(type='button')
                span.noload Delete
              button.btn.btn-danger.pr-3.twobutapoa.d-none.text-light(type='button')
                span.noloadpoa
                .spinner-border.loadpoa.d-none(role='status', style="color:white")
                  span.sr-only    
              button.btn.btn-gray.no(type='button', data-dismiss='modal')
                | Cancel
      #myEdosModal.modal
        .modal-dialog.modal-dialog-centered
          .modal-content
            // Modal Header
            .modal-header
              h2.modal-title Edit Store
              button.close(type='button', data-dismiss='modal')
                | &times;
            // Modal body
            .modal-body
              .form-group
                label Store Name
                input.form-control.edasdtorename(type="text",placeholder="Please Enter Name")
              .form-group
                label Store Email
                input.form-control.edasdtoreemail.text-dark(type="text",placeholder="Please Enter Eamil")
              .form-group
                label Store Phone
                input.form-control.edasdtorephone(type="text",placeholder="Please Enter Phone")
              .form-group
                label Store Address
                input.form-control.edasdtoreaddress(type="text",placeholder="Please Enter Address")
              .form-group
                label Store Country
                select.inputCountrypo.form-control
                  option UK
                  option USA
                  option SOUTH AFRICA
              .form-group
                label Store Region
                select.inputRegionpo.form-control
                  option UK
                  option USA
                  option SOUTH AFRICA
            // Modal footer
            .modal-footer
              button.btn.onebutapopa.whattoupd.pt-3.userstoreupds.yes.text-light(type='button',style="background-color:#224e41")
                span.noload Update
              button.btn.twobutapopa.d-none.text-light(type='button',style="background-color:#224e41; padding-right:10px")
                span.noloadpopa
                .spinner-border.loadpopa.d-none(role='status', style="color:white")
                  span.sr-only    
              button.btn.btn-gray.no(type='button', data-dismiss='modal')
                | Cancel
      #AddmyEdosModal.modal
        .modal-dialog.modal-dialog-centered
          .modal-content
            // Modal Header
            .modal-header
              h2.modal-title Add Store
              button.close(type='button', data-dismiss='modal')
                | &times;
            // Modal body
            .modal-body
              .form-group
                label Store Name
                input.form-control.edassdtorename(type="text",placeholder="Please Enter Name")
              .form-group
                label Store Email
                input.form-control.edassdtoreemail.text-dark(type="text",placeholder="Please Enter Eamil")
              .form-group
                label Store Phone
                input.form-control.edassdtorephone(type="text",placeholder="Please Enter Phone")
              .form-group
                label Store Address
                input.form-control.edassdtoreaddress(type="text",placeholder="Please Enter Address")
              .form-group
                label Store Country
                select.inputCountrypopo.form-control
                  option UK
                  option USA
                  option SOUTH AFRICA
              .form-group
                label Store Region
                select.inputRegionpopo.form-control
                  option UK
                  option USA
                  option SOUTH AFRICA
            // Modal footer
            .modal-footer
              button.btn.onebutapopapa.whattoupd.pt-3.userstoreupdsopchopi.yes.text-light(type='button',style="background-color:#224e41")
                span.noload Add
              button.btn.twobutapopapa.d-none.text-light(type='button',style="background-color:#224e41; padding-right:10px")
                span.noloadpopapa
                .spinner-border.loadpopapa.d-none(role='status', style="color:white")
                  span.sr-only    
              button.btn.btn-gray.no(type='button', data-dismiss='modal')
                | Cancel
